<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stulesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/ccs/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Sign in</h1>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class ="panel-title">채팅을 시작하기 위해 먼저 로그인해주세요.</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="/aouth/login/google">Google</a>
                    </li>
                </ul>
            </div>"
        </div>
    </div>
    
</body>
</html>